* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Montserrat;
    background-color: #f7f7f7;
    height: 100%;
}

img {
    max-width: 100%;
}

.bg-light {
    background-color: #f7f7f7 !important;
}

.navbar {
    padding: 20px auto;
}

.nav-item > .nav-link {
    color: #000 !important;
    margin-right: 15px;
}

.logo {
    width: 120px;
}

.navbar-toggler {
    border: none;
}
.navbar-light .navbar-toggler-icon {
    margin-top: 5px;
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='%23000' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h15M4 '/></svg>");
}

#hero {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/background.jpeg'); /* TODO: add linear gradient */
    /* height: 95vh; */
    background-position: center;
    background-size: cover;
    color: #fff;
    padding-top: 30vh;
}

.header_1 {
    font-weight: 700;
    font-size: 4em;
}


.tagline {
    margin-top: 25px;
    font-weight: 500;
    font-size: 21px;
}

.launch_p {
    margin-top: 45px;
    margin-bottom: 12vh !important;
}

.launch_p > .launch_a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
    font-weight: bold;
}

.scroller {
    font-size: 3em;
    color: #fff;
    text-decoration: none;
}

/* about */
.header_2 {
    text-align: center;
    font-weight: bold;
    margin: 25px auto;
}

.about_img {
    border-radius: 15px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
    margin-bottom: 25px;
}

.about_p {
    font-weight: 500;
    line-height: 30px;
}

.events_img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
    margin-bottom: 25px;
}

.header_6, .header_3 {
    font-weight: bold;
    text-align: center;
}

.header_6 {
    font-size: 1.5em;
}

.event_sp {
    font-size: 14px;
    text-align: center !important;
    font-weight: 500;
    display: block;
    margin: 0 auto 10px;
    width: 80%;
}

/* learning outcomes */
.learn_img {
    display: block;
    width: 50px;
    margin: 25px auto 15px;
}

.learn_p {
    text-align: center;
    font-weight: 500;
}

/* contact */
#contact {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer_img {
    margin-top: 25px;
    display: block;
    margin-left: 0 !important;
    border-radius: 4px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
    /* width: 70%; */
}

.input_btn {
    background-color: #1F52AB;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
    padding: 10px 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    font-weight: 500;
    opacity: 0.8 !important; /* Firefox */
}

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000 !important;
    font-weight: 500;
}

    ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000 !important;
    font-weight: 500;
}

.social_a {
    color: #fff;
    font-size: 1.5em;
    margin-right: 15px;
}

/* todo: style for 500px and below */
@media only screen and (max-width: 500px) {
    .navbar {
        padding: 5px;
    }
    #hero {
        padding-top: 20vh;
    }
    .header_1 {
        font-size: 2.2em;
    }
    .tagline, .about_p {
        font-size: 16px;
    }
}

/* todo: style for tablets and netbooks */

/* todo: style for 1680px and above */